h1 {
    text-align: center;
}
li {
    text-align: left;
    height: 100px;
    width: 30 px;
    border: 2px solid black;
    padding: 10 px;
    margin-left: 10px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
